# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client2/node_modules
server/node_modules
/.pnp
.pnp.js

# testing
client2/coverage

# production
client2/build

# misc
client2/.DS_Store
client2/.env.local
client2/.env.development.local
client2/.env.test.local
client2/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#firebase
client2/src/pages/components/utils/secretes.json
.firebaserc
firebase.json
.firebase

#server
server/.env


